@tailwind base;
@tailwind components;
@tailwind utilities;


.attendance-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.attendance {
  display: flex;
}
.dashboard-icon{
  font-size: 50px;
}
.layer-icon{
  font-size: 34px;
  width: 20%;
}
.bg-color{
  background-color: #ffd9d9;
}
.side-bar{
  display: flex;
  align-items: center;
}.MuiBox-root.css-1y56q2j {
  background-color: white;
}